.card {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.card-header {
  background-color: #5b88b8;
  color: white;
  text-align: center;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
  padding: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #4f8ccd;
  border-color: #0f2a48;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.container {
  max-width: 400px;
}

.error-message {
  color: red;
  font-size: 14px;
}

/* Style for success messages */
.success-message {
  color: green;
  font-size: 14px;
}

.footer-text {
  font-size: 14px;
  align-items: center;
  margin-left: 130px;
}

.mandatory{
  color: red;
}
